html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#wrap {
    display: flex;
    flex-flow: column;
    height: 100%;
}


nav {
    flex: 0 1 auto;
    background-color: rgb(0,0,139);
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

a.nav-link {
    color: #fff;
}

#content {
    background-color: #d1d1d1;
    flex: 1 1 auto;
    width: 100%;
}

.row.content {
    margin: 0% 15% 0% 15%;
    padding: 1em 2em 0em 2em;
    background: #fff;
    float: none;
    width: auto;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .row.content {
        margin: 0% 0% 0% 0%;
        padding: 0em 1em 0em 1em;
    }
}


footer {
    flex: 0 1 auto;
    background-color: #555;
    color: white;
    padding: 1em;
    width:100%
}

