{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Request a new virtual machine</h1>

<div class="row">
  <div class="col-md-8">
    <p>This form allows you to request that a new Virtual Machine be provisioned on the Homelab.</p>
    <br>
  </div>
</div>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

    {{ form.non_field_errors.as_p }}

    <div class="row form-group {% if form.name.errors %} has-error{% endif %}">
      <label class="font-weight-bold">Provide a hostname for the Virtual Machine (lowercase letters and numbers, no spaces)
        <span style="color:red;">*</span>
      </label>
      {{ form.name }}
      <strong class="help-block">{{ form.name.errors.as_p }}</strong>
    </div>

    <div class="row form-group {% if form.project.errors %} has-error{% endif %}">
      <label class="font-weight-bold">Select the project to associate with the new Virtual Machine:
        <span style="color:red;">*</span>
      </label>
      {{ form.project }}
      <strong class="help-block">{{ form.project.errors.as_p }}</strong>
    </div>

    <div class="row ">
      
      <div class="col-sm-4 form-group {% if form.cores.errors %} has-error{% endif %}">
        <label class="font-weight-bold">Desired Cores:
          <span style="color:red;">*</span>
        </label>
        {{ form.cores }}
        <strong class="help-block">{{ form.cores.errors.as_p }}</strong>
      </div>
      
      <div class="col-sm-4 form-group {% if form.memgb.errors %} has-error{% endif %}">
        <label class="font-weight-bold">Desired RAM (in GB):
          <span style="color:red;">*</span>
        </label>
        {{ form.memgb }}
        <strong class="help-block">{{ form.memgb.errors.as_p }}</strong>
      </div>
      
      <div class="col-sm-4 form-group {% if form.diskgb.errors %} has-error{% endif %}">
        <label class="font-weight-bold">Desired Disk (in GB):
          <span style="color:red;">*</span>
        </label>
        {{ form.diskgb }}
        <strong class="help-block">{{ form.diskgb.errors.as_p }}</strong>
      </div>

    </div>


    <div class="row form-group {% if form.description.errors %} has-error{% endif %}">
      <label class="font-weight-bold">Describe how the VM will be used, along with any other system requirements:
        <span style="color:red;">*</span>
      </label>
      {{ form.description }}
      <strong class="help-block">{{ form.description.errors.as_p }}</strong>
    </div>

    <div class="row form-group {% if form.packages.errors %} has-error{% endif %}">
      <label class="font-weight-bold">List any packages that you want installed on the system (Unless otherwise negotiated, platform will be CentOS):
      </label>
      {{ form.packages }}
      <strong class="help-block">{{ form.packages.errors.as_p }}</strong>
    </div>

    <div class="row form-group {% if form.privileges.errors %} has-error{% endif %}">
      <label class="font-weight-bold">Describe any administrative privileges you want on the machine (sudoers file syntax preferred, but not necessary):
      </label>
      {{ form.privileges }}
      <strong class="help-block">{{ form.privileges.errors.as_p }}</strong>
    </div>

    <p style="text-align: center; color:red;">
      <strong>* Required field</strong>
    </p>

  <p style="text-align:center;">
    <button class="btn btn-primary" type="submit">Submit Request</button>
  </p>
</form>

{% endblock %}
