  <div class="card-header">New Virtual Machine Request:</div>
  <div class="card-body">

    <div class="form-group">
      <label class="col-form-label" for="id_name">Name:</label>
      <input class="form-control" id="id_name" name="name" type="text" value="{{ item.name }}">
    </div>

    <div class="form-group">
      <label class="col-form-label" for="id_project">Project:</label>
      <input class="form-control" id="id_project" name="project" type="text" value="{{ item.project }}">
    </div>
    
    <div class="row">
        
      <div class="col-sm-4 form-group">
        <label class="col-form-label" for="id_cores">Cores:</label>
        <input class="form-control" id="id_cores" name="cores" type="text" value="{{ item.cores }}">
      </div>
    
      <div class="col-sm-4 form-group">
        <label class="col-form-label" for="id_memgb">RAM:</label>
        <input class="form-control" id="id_memgb" name="memgb" type="text" value="{{ item.memgb }}">
      </div>
    
      <div class="col-sm-4 form-group">
        <label class="col-form-label" for="id_diskgb">Disk:</label>
        <input class="form-control" id="id_diskgb" name="diskgb" type="text" value="{{ item.diskgb }}">
      </div>

    </div>

    <div class="form-group">
      <label class="col-form-label" for="id_description">Description:</label>
      <textarea class="form-control" id="id_description" name="description">{{ item.description }}</textarea>
    </div>

    <div class="form-group">
      <label class="col-form-label" for="id_packages">packages:</label>
      <textarea class="form-control" id="id_packages" name="packages">{{ item.packages }}</textarea>
    </div>

    <div class="form-group">
      <label class="col-form-label" for="id_privileges">privileges:</label>
      <textarea class="form-control" id="id_privileges" name="privileges">{{ item.privileges }}</textarea>
    </div>

  </div>

