{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Request to be added to a Project</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>This form allows you to request access to an existing project.</p>
    <br>
  </div>
</div>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {{ form.non_field_errors.as_alert }}

  <div class="row form-group {% if form.project_name.errors %} has-error{% endif %}">
    <label>Project ID<span style="color:red;">*</span></label>
    {{ form.project_name }}
    {{ form.project_name.errors.as_p }}
  </div>

  <p style="text-align: center; color:red;">
    <strong>* Required field</strong>
  </p>

  <p style="text-align:center;">
    <button class="btn btn-primary" type="submit">Submit Request</button>
  </p>
</form>

{% endblock %}
