  <div class="card-header">Project Access Request:</div>
  <div class="card-body">

    <div class="form-group">
      <label class="col-form-label" for="id_project_name">Project ID:</label>
      <input class="form-control" id="id_project_name" name="project_name" type="text" value="{{ item.project_name }}">
    </div>

    <div class="form-group">
      <label class="col-form-label" for="id_project_pi">Project PI:</label>
      <input class="form-control" id="id_project_pi" name="project_pi" type="text" value="{{ item.project_pi }}">
    </div>

    <div class="form-group">
      <label class="col-form-label" for="id_project_desc">Project Name:</label>
      <input class="form-control" id="id_project_desc" name="project_desc" type="text" value="{{ item.project_desc }}">
    </div>

  </div>

