{% extends "base.html" %}

{% block title %}{{ block.super }} - Logged Out {% endblock %}

{% block content %}
<div class="page-header">
  <h1>Logged Out</h1>
</div>

<p>You have been successfully logged out.</p>

{% endblock %}
