{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h1> Log into your account</h1>
</div>

{% if form.errors %}
<div class="alert alert-danger">Invalid Credentials.</div>
{% endif %}

<form class="form-horizontal" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="form-group {% if form.errors %}has-error{% endif %}">
    <label class="sr-only" for="id_username">Username:</label>
    <input type="text" class="form-control" id="id_username" name="username" placeholder="Username"> 
  </div>
  
  <div class="form-group {% if form.errors %}has-error{% endif %}">
    <label class="sr-only" for="id_password">Password:</label>
    <input type="password" class="form-control" id="id_password" name="password" placeholder="Password"> 
  </div>

  <div class="form-group" style="text-align:center;">    
    <button type="submit" class="btn btn-primary">Login</button>
  </div>

  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}

