{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>{% if user.realname %}{{user.realname}} - {% endif %}{{ user.name }}</h1>
</div>
<hr/>

<div class="row">
  <h3>User Information</h3>

  <table class="table">
    <tbody>
      <tr><td>Username:</td><td>{{ user.name }}</td></tr>
      <tr><td>Name on File:</td><td>{{ user.realname }}</td></tr>
      <tr>
        <td>Contact Email:</td>
        <td>
          <form method="post">
            {% csrf_token %}
            <div class="input-group">
              <input type="hidden" name="action" value="update_email">
              {{ email_form.email }}
              <input type="submit" class="btn btn-outline-primary" value="Update Email">
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td>Login Shell:</td>
        <td>
          <form method="post">
            {% csrf_token %}
            <div class="input-group">
              <input type="hidden" name="action" value="change_shell">
              {{ shell_form.shell }}
              <input type="submit" class="btn btn-outline-primary" value="Change Shell">
            </div>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h3>Projects</h3>

  <table class="table table-sm table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>LDAP Group</th>
        <th></td>
      </tr>
    </thead>
    <tbody>
    {% for proj in projects %}
      <tr>
        <td>{{ proj.name }}</td>
        <td>{{ proj.description }}</td>
        <td>{{ proj.ldap_group }}</td>
        <td>
          {% if user.default_project == proj %}
            <button class="btn btn-secondary" disabled>Default Project</strong>
          {% else %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="set_default_project">
                <input type="hidden" name="default_project" value="{{ proj.pk }}">
                <input type="submit" class="btn btn-primary" value="Set as default">
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="row">
  <h3>Login History</h3>

  <table class="table table-sm table-bordered table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Service</th>
        <th>Method*</th>
        <th>Source</th>
        <th>Destination</th>
      </tr>
    </thead>
    <tbody>
    {% for login in logins %}
      <tr>
        <td>{{ login.when }}</td>
        <td>{{ login.service }}</td>
        <td>{{ login.method }}</td>
        <td>{{ login.fromhost }}</td>
        <td>{{ login.host }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>* If service supports more than one authentication method.</p>
</div>

{% endblock %}
