{% extends "base.html" %}

{% block head %}
<script>
function doSubmit(value) {
    document.getElementById("id_action").value = value;
    if (value == "UPDATE") {
        document.getElementById("id_requester").value = document.getElementById("id_requ").value;
        document.getElementById("id_description").value = document.getElementById("id_desc").value;
        document.getElementById("id_notification").value = document.getElementById("id_email_opts").value;
    }
    document.getElementById("action_form").submit();
}
{% if not is_admin %}
window.onload = function(e) {
    $(".form-control").attr("readonly", true);
}
{% endif %}
</script>
{% endblock %}

{% block content %}
<p class="lead">Request {{ req.pk }}:</p>

<div class="row justify-content-sm-center">
  <div class="col-sm-10">
  {% for element in widgets %}
    <form action="{% url element.update_view_name element.pk %}" method=post>
      {% csrf_token %}
      <div class="card">
        {% include element.widget_template_path with item=element is_admin=is_admin widgets=widgets only %}
      
        {% if is_admin %}
        <p style="text-align:center;">
            <button class="btn btn-success" type=submit>Commit Changes</button>
        </p>
        {% endif %}
      </div>
      <br>
    </form>
  {% endfor %}
  </div>
</div>

{% if is_admin and req.confirmed %}
  <div class="row justify-content-sm-center">
    <div class="col-sm-10">
      <div class="card">
        <div class="card-header">Request Details:</div>
        <div class="card-body">
          <div class="form-group">
            <label class="col-form-label" for="id_requ">Requester</label>
            <input type="text" class="form-control" id="id_requ" name="requ" value="{{ req.requester }}">
          </div>
          <div class="form-group">
            <label class="col-form-label" for="id_desc">Description</label>
            <input type="text" class="form-control col-sm-auto" id="id_desc" name="desc" value="{{ req.description }}">
          </div>
          <div class="form-group">
            <label for="id_email_opts">Email Template</label>
            <select class="form-control" id="id_email_opts" name="email_opts">
            {% for opt in email_options %}
              <option value={{ opt.pk }} {% if opt == req.notification %}selected{% endif %}>{{ opt.name }}</option>
            {% endfor %}
            </select>
          </div>
          <p style="text-align:center;">
            <button class="btn btn-success" type="button" onclick="doSubmit('UPDATE')">Update Details</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>

  {% if req.status == "NEW" or req.status == "PENDING" %}
    <p style="text-align:center;">
      <button class="btn btn-success" type="button" onclick="doSubmit('APPROVED')">Approve</button>
      {% if req.status != "PENDING" %}
        <button class="btn btn-warning" type="button" onclick="doSubmit('PENDING')">Approval Wait</button>
      {% endif %}
      <button class="btn btn-danger" type="button" onclick="doSubmit('DECLINED')">Decline</button>
    </p>
  {% elif req.status == "APPROVED" %}
    <p style="text-align:center;">
      <button class="btn btn-primary" type="button" onclick="doSubmit('PROCESSED')">Mark As Manually Processed</button>
    </p>
  {% elif req.status == "FAILED" %}
    <p style="text-align:center;">
      <button class="btn btn-primary" type="button" onclick="doSubmit('APPROVED')">Reattempt Failed</button>
    </p>
  {% endif %}
  
  <ul class="list-group">
  {% for entry in history %}
    <li class="list-group-item">
      {{ entry }}
    </li>
  {% endfor %}
  </ul>
  <br>
  <p style="text-align:center;">
    <a class="btn btn-outline-primary" href="{% url 'user_requests:list' %}">Back to Request List</a>
  </p>
{% endif %}

{% if is_requester and not req.confirmed %}
  <p style="text-align:center;">
    <button class="btn btn-primary" type="button" onclick="doSubmit('CONFIRM')">Confirm and Submit</button>
    <button class="btn btn-danger" type="button" onclick="doSubmit('CANCEL')">Cancel Request</button>
  </p>
{% endif %}


<form id="action_form" method="post">
  {% csrf_token %}
  <input id="id_action" type="hidden" name="action" value="">
  <input id="id_requester" type="hidden" name="requester" value="">
  <input id="id_description" type="hidden" name="description" value="">
  <input id="id_notification" type="hidden" name="notification" value="">
  {% if next %}<input id="id_next" type="hidden" name="next" value="{{ next }}">{% endif %}
</form>

{% endblock %}

