{% extends "base.html" %}

{% block content %}

<p class="lead" style="text-align:center;">Select the type of request you'd like to make:</p>

{% for rt in request_type_list %}
  <div class="row">
    <div class="col-md-12">
      <p style="text-align:center;">
        <a class="btn btn-outline-primary" style="width:50%" href="{% url rt.form_view_name %}">{{ rt.request_description }}</a>
      </p>
    </div>
  </div>
{% endfor %}

<p style="text-align:center;">
  <a style="color:white;" class="btn btn-primary" href="/profile/">Back to Profile</a>
</p>
{% endblock %}

