{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="card">
      <div class="card-body">
      {% if message %}
        <p class="lead">{{ message }}</p>
      {% else %}
        <p class="lead">Your request has been submitted. You will receive a
        confirmation email once your request has been processed.
        </p>
      {% endif %}
      </div>
    </div>

    <p style="text-align:center;">
      <a href="{% url "user_requests:available" %}">Back to Requests</a>
    </p>

  </div>
</div>

{% endblock %}
