{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-2">
    <p class="lead">Submitted Requests</p>
  </div>
  <div class="col-sm-10" style="padding-right:1em">
    <form class="form-inline" style="text-align:right" method="get">
      <div class="form-group mr-2">
        <label for="id_requester">Requester:</label>
        <input type="text" class="form-control" id="id_requester" name="requester" placeholder="username">
      </div>
      <div class="form-group mr-2">
        <label for="id_desc">Description:</label>
        <input type="text" class="form-control" id="id_desc" name="description__icontains" placeholder="description">
      </div>
      <div class="form-group mr-2">
        <label for="id_status">Status:</label>
        <select class="form-control" id="id_status" name="status">
          <option selected></option>
          <option>NEW</option>
          <option>PENDING</option>
          <option>APPROVED</option>
          <option>DECLINED</option>
          <option>PROCESSING</option>
          <option>PROCESSED</option>
          <option>FAILED</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Filter</button>
      <a class="btn btn-default" href="{% url "user_requests:list" %}">Reset Filters</a>
    </form>
  </div>
</div>

<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="text-align:center;">Status</th>
      <th>Request ID</th>
      <th>Submitted Date</th>
      <th>Requesting User</th>
      <th>Request Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for req in requests %}
    <tr>
      <td>  
        <p style="text-align:center;">
          <span class="badge">{{ req.status }}</span>
        </p>
      </td>
      <td>
        <p style="text-align:right">{{ req.pk }}</p>
      </td>
      <td>
        {{ req.submitted }}
      </td>
      <td>
        {{ req.requester }}
      </td>
      <td>
        {{ req.description|default:"" }}
      </td>
      <td>
        <p style="text-align:center;">
          <a href="{{ req.review_url }}" class="btn btn-info">View</a>
        </p>
      </td>
    </div>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
<ul class="pagination">
  {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}       
  {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}                            
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}                                         
  {% endfor %}                                                
  {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
  {% else %}                                                                
    <li class="disabled"><span>&raquo;</span></li>                              
  {% endif %}                                                                         
</ul>
{% endif %}

{% endblock %}

