<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>{% block title %}Howard Homelab Portal{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="shortcut icon"  href="/static/favicon.ico">
    
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <div id="wrap">

      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">Howard Homelab Portal</a>
        <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          {% for item, sublist in nav_menu %}
            {% if sublist %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ item.name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for sitem in sublist %}
                <a class="dropdown-item" href="{{ sitem.url }}">{{ sitem.name }}</a>
              {% endfor %}
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url }}">{{ item.name }}</a>
            </li>
            {% endif %}
          {% endfor %}
          </ul>
          <ul class="navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/profile/">Logged in as: {{ request.user.username }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/logout/">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url "user_requests:new_user_info" %}">Request Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login/">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
           
      <div id="content" class="container-fluid">      
        <div class="row content">
          <div class="col-sm-12">
            {% if messages %}
              {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            {% endif %}


            {% block content %}
            {% endblock %}
            <br>
          </div>
        </div>
      </div>
    
      <footer>
      {% block footer %}
        <p>Copyright (c) Adam Howard</p>
      {% endblock %}
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    {% block scripts%}
    {% endblock%}
  
  </body>
</html>
