{% extends "base.html" %}


{% block content %}

<div class="page-header">
  <h1>HHS Portal</h1>
</div>

<p>In addition to being a testbed platform for software development, this portal 
serves as a mechanism for allowing users within the Homelab Ecosystem to request
accounts, projects, and other resources.</p>

<p>This platform serves as a running instance of multiple published (and 
unpublished) projects, such as:</p>

<ul>
  <li><a href="https://github.com/Elemnir/django-openacct">OpenAcct - a pluggable Django app for managing research computing center project accounting.</a></li>
  <li><a href="https://github.com/Elemnir/django-duo-auth">Django Duo Auth - A Django middleware that adds 2-factor authentication via Duo.</a></li>
  <li><a href="https://github.com/Elemnir/ansible-role-git_repo_services">An Ansible role for deploying system services from git</a></li>
  <li><a href="https://github.com/Elemnir/ansible-role-nginx_proxy">An Ansible role to set up an Nginx Webserver with options for reverse proxying, basic auth, and LetsEncrypt Support.</a></li>
  <li><a href="https://github.com/Elemnir/admin_toolbelt">A collection of random Python tools for administering systems.</a></li>
  
</ul>

{% endblock %}
