{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Request a new Homelab Project</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>This form allows you to request a new project on the Howard Homelab.</p>
    <br>
  </div>
</div>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

    {{ form.non_field_errors.as_p }}

    <div class="row form-group {% if form.title.errors %} has-error{% endif %}">
      <label class="font-weight-bold">Project Name
        <span style="color:red;">*</span>
      </label>
      {{ form.title }}
      <strong class="help-block">{{ form.title.errors.as_p }}</strong>
    </div>

    <div class="row form-group {% if form.affiliation.errors %} has-error{% endif %}">
      <label class="font-weight-bold">Select the option that best describes the project:
        <span style="color:red;">*</span>
      </label>
      {{ form.affiliation }}
      <strong class="help-block">{{ form.affiliation.errors.as_p }}</strong>
    </div>

    <div class="row form-group {% if form.description.errors %} has-error{% endif %}">
      <label class="font-weight-bold">Project Description
        <span style="color:red;">*</span>
      </label>
      {{ form.description }}
      <strong class="help-block">{{ form.description.errors.as_p }}</strong>
    </div>

    <div class="row form-group {% if form.document.errors %} has-error{% endif %}">
      <label class="font-weight-bold">Optionally, upload additional documentation describing your project
      </label>
      {{ form.document }}
      <strong class="help-block">{{ form.document.errors.as_p }}</strong>
    </div>

    <p style="text-align: center; color:red;">
      <strong>* Required field</strong>
    </p>

  <p style="text-align:center;">
    <button class="btn btn-primary" type="submit">Submit Request</button>
  </p>
</form>

{% endblock %}
