  <div class="card-header">New Project Request:</div>
  <div class="card-body">

    <div class="form-group">
      <label class="col-form-label" for="id_title">Project Title:</label>
      <input class="form-control" id="id_title" name="title" type="text" value="{{ item.title }}">
    </div>

    <div class="form-group">
      <label class="col-form-label" for="id_affiliation">Affiliation:</label>
      <input class="form-control" id="id_affiliation" name="affiliation" type="text" value="{{ item.affiliation }}">
    </div>

    <div class="form-group">
      <label class="col-form-label" for="id_description">Description:</label>
      <textarea class="form-control" id="id_description" name="description">{{ item.description }}</textarea>
    </div>

    <div class="form-group">
      <label class="col-form-label" for="id_document">Documentation:</label>
      {% if item.document %}
      <a href="{{ item.document.url }}" id="id_document">Click here to view.</a>
      {% else %}
      <p>No document uploaded.</p>
      {% endif %}
    </div>

  </div>

