{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="card">
      <div class="card-body">
      {% if message %}
        <p class="lead">{{ message }}</p>
      {% else %}
        <p class="lead">Your account request has been submitted.
        You will receive an email with further instructions once 
        your request has been processed.
        </p>
      {% endif %}
      </div>
    </div>
    
  </div>
</div>

{% endblock %}

