{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center;">Howard Homelab User Request Form</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>This form allows you to request a new user account on the Howard Homelab.</p>
    <br>
  </div>
</div>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

    {{ form.non_field_errors.as_p }}

    <div class="row form-group {% if form.name.errors %} has-error{% endif %}">
      <label class="font-weight-bold">Name
        <span style="color:red;">*</span>
      </label>
      {{ form.name }}
      <strong style="color:#a94442;">{{ form.name.errors }}</strong>
    </div>

    <div class="row form-group {% if form.email.errors %} has-error{% endif %}">
      <label class="font-weight-bold">Email Address
        <span style="color:red;">*</span>
      </label>
      {{ form.email }}
      <strong style="color:#a94442;">{{ form.email.errors }}</strong>
    </div>

    <div class="row form-group {% if form.username.errors %} has-error{% endif %}">
      <label class="font-weight-bold">Requested Username
        <span style="color:red;">*</span>
      </label>
      {{ form.username }}
      <strong style="color:#a94442;">{{ form.username.errors }}</strong>
    </div>

    <div class="row form-group {% if form.password.errors %} has-error{% endif %}">
      <label class="font-weight-bold">Password
        <span style="color:red;">*</span>
      </label>
      {{ form.password }}
      <strong style="color:#a94442;">{{ form.password.errors }}</strong>
    </div>

    <p style="text-align: center; color:red;">
      <strong>* Required field</strong>
    </p>

  <p style="text-align:center;">
    <button class="btn btn-primary" type="submit">Confirm Request</button>
  </p>
</form>
{% endblock %}

