  <div class="card-header">New User Request:</div>
  <div class="card-body">

    <div class="form-group">
      <label class="col-form-label" for="id_name">Name:</label>
      <input class="form-control" id="id_name" name="name" type="text" value="{{ item.name }}">
    </div>

    <div class="form-group">
      <label class="col-form-label" for="id_email">Email:</label>
      <input class="form-control" id="id_email" name="email" type="text" value="{{ item.email }}">
    </div>

    <div class="form-group">
      <label class="col-form-label" for="id_username">Username:</label>
      <input class="form-control" id="id_username" name="username" type="text" value="{{ item.username }}">
    </div>

    <div class="form-group">
      <label class="col-form-label" for="id_quota">Quota:</label>
      <input class="form-control" id="id_quota" name="quota" type="text" value="{{ item.quota }}">
    </div>

  </div>

